nav {
  background: rgb(60, 152, 168);
  padding: 10px;
  text-align: center;
}

.App {
  text-align: left;
}

.App-logo{
  animation: App-logo-spin infinite 20s Linear;
}

@keyframes App-logo-spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360);}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.detail {
  border: #90dbc8;
  background: 5px #90b4db;
  height: 40vh;
  width: 45vh;
  overflow: auto;
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;
}

.titulo {
  text-align: center;
}

.provincias{
  width: 100%;
  display: inline-block;
  border-radius: 44px 13px 83px 13px;
  -moz-border-radius: 44px 13px 83px 13px;
  -webkit-border-radius: 44px 13px 83px 13px;
  border: 10px inset #90b4db;
  background-color:#90b4db;
}

.departamentos{
  width: 50%;
  display: inline-block;
  border-radius: 44px 13px 83px 13px;
  -moz-border-radius: 44px 13px 83px 13px;
  -webkit-border-radius: 44px 13px 83px 13px;
  border: 10px inset #90b4db;
  background-color:#90b4db;

  line-height: 28px;
  text-align: left;
}